{:paths ["src"]
 :deps {nrepl/nrepl {:mvn/version "1.0.0"}
        cider/cider-nrepl {:mvn/version "0.28.7"}}
 
 :aliases
 {:nrepl {:main-opts ["-m" "nrepl.cmdline" 
                      "--port" "7888"
                      "--bind" "127.0.0.1"
                      "--middleware" "[cider.nrepl/cider-middleware]"]}
  
  :sidecar {:main-opts ["-m" "sidecar.repl"]}}}

